$color-bg: #212121;
$color-accent: #E06921;
$color-font: #fff;
$color-font-pale: #D4D4D4;
$color-border: #807F7F;
$color-border-black: #414141;

$radius-block: 11px;
$radius-button: 7px;

$dir: "C:/Projects/Dviglo-front/login-page";